/* Vermelho         #D20528
Vermelho Escuro  #612935
Amarelo          #FFD500
Marrom           #855D2B
Azul             #03AFD1
Azul Escuro      #124B7F 
Cinza            #4C4C4E
Branco           #F0F1F1 */
@font-face 
{
	font-family: kanzalea;
	src: url(fonts/KANZALEA\ -\ BOLD\ PERSONAL\ USE.otf);
}

.kanzalea{
    font-family: kanzalea;
}

html {
    scroll-behavior: smooth;
}

h1{
    font-family: kanzalea;
    font-weight: bold;
    font-size: 70px;
    text-shadow: 3px 3px rgb(216, 215, 215);
}

body{
    padding-top: 40px;
    margin: 0;
}

p{
    font-family: 'Open Sans', sans-serif;
}

.fundo {
    background-image: url(img/yama.png);
    background-attachment: fixed;
}

.textoBranco{
    color: #F0F1F1;
}

.azul {
    background-color: #D20528;
}

.preto {
    background-color:  rgb(51, 51, 51);
}

.textoVermelho{
    color: #D20528;
}

.textoAzul {
    color: #03AFD1;
}

.textoBranco {
    color: #F0F1F1;
}

.textoCinza{
    color: rgb(93, 93, 94);
}

#navbar {
    z-index: 100;
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

.depo {
    border-radius: 60%;
    height:150px;
}

/*================================================================== IMC*/
.quadroResposta{
    background-color:#F0F1F1; border-radius: 10px;
}

.footer {
    text-align: center;
    background-color: rgb(51, 51, 51);
    color: white;
    
}

